.MycustomFont{
    background-color: aquamarine;
}
.container{
    background-color: black;
    color:red;
    padding: 25px;
    text-align: center;
    align-items: center;
    margin:0 auto;
}
.table{
    border: 2px solid black;
    background-color: blanchedalmond;
}
th{
    padding: 15px;
    background-color: grey;
}
td{
    padding: 15px;
    background-color: honeydew;
}